* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

#navegacao {
    margin: 40px;
    width: 100%;
    height: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#navegacao li {
    display: inline;
}

.divider {
    border: 1px solid #a5a4a4;
    width: 100%;
    margin: 20px auto;
}

nav a {
    color: #494747;
    font-size: 20px;
    justify-content: space-between;
    
}


main {
    display: flex;
    margin-top: 10px;


}

#conteiner {
    width: 50%;
}

.passeiosContainer {
    width: 400px;
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    /* Inserido padding de 100 para afastar o do lado esquerdo */
}

p{
    margin: 5px;
}

span{
    margin: 5px;
}

a{
    margin: 5px;
}
/* ISOLADO, POIS DEIXA AS IMAGENS GRANDE*/
/*.passeiosContainer image{
    max-width: 250px;
    max-height: 250px;
}*/
.passeios {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: inherit;
    text-align: justify;
    margin-left: 50px;
}

    /*Chamei a class para definir o tamanho das imagens*/
    /*width: 600px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding: 20px;*/


.passeios1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 600px;
    /*UTILIZEI PARA AFASTAR DAS IMAGENS*/
    margin-right: 200px;
    margin-bottom: 20px;
    border: 1px solid #bdbdbdbd;
    padding: 25px;

}

.passeios1 a {
    padding: 5px;
    color: #ffffff;
    background-color: #4343d2;
    border-radius:  #4343d2;
    font-size: 20px;
}

.passeios1 input{
    padding: 7px;
}

.passeios2 span {
    font-size: 50px;
}

.passeios2 a{
    color: #757272;
}

.passeios2 {
    padding: 70px;
    font-weight: 700;
    margin-right: 200px;
    border: 1px solid#bdbdbdbd;
    margin-left: 600px;
    /*UTILIZEI PARA AFASTAR DAS IMAGENS*/
    margin-bottom: 20px;

}

.passeios2 ul {
    color: #494747;
    display: flex;
    flex-direction: column;

}

.passeios3 {
    padding: 70px;
    font-size: 50px;
    font-weight: 700;
    margin-right: 200px;
    border: 1px solid#bdbdbdbd;
    margin-left: 600px;
    /*UTILIZEI PARA AFASTAR DAS IMAGENS*/
    margin-bottom: 20px;
    justify-content: space-between;

}

#containerTag button>a {
    color: #696969bd;
    background-color: #bdbdbdbd;
    font-size: 20px;
    justify-content: space-around;
}

.divider2{
    margin-top: 370px;
}
#rodape {
    margin-top: 15px;
    font-size: 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}